  /*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

body
{
  background-color: #98E5E8;
  margin: 50px 50px;
}

ul
{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.nav
{
  width: 1100px;
}

.nav li
{
  float: left;
  margin-right: 20px;
}

.nav-button
{
  display: block;
  text-decoration: none;
  text-align: center;
  width: 200px;
  height: 200px;
  background-color: #E8B898;
  border-radius: 50px;
  box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 0.65), 
              inset -10px -10px 10px rgba(0, 0, 0, 0.65),
              10px 10px 20px rgba(0, 0, 0, 0.35);
  transition: all 0.1s;
}

.nav-button span
{
  font: bold 25px Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0);
  position: relative;
  top: -47px;
  transition: all 0.1s;
}

.nav-button:before
{
  display: block;
  content: '';
  color: rgba(255, 255, 255, 0.5);
  font: normal 125px/200px 'FontAwesome';
  position: relative;
  left: -3px;
}

.icon-home:before { content: '\f015'; }
.icon-cart:before { content: '\f07a'; }
.icon-refresh:before { content: '\f021'; }
.icon-photo:before { content: '\f03e'; }
.icon-heart:before { content: '\f004'; }

.nav-button:hover
{
  background-color: #F59E94;
  -webkit-transform: rotate(-10deg) scale(1.25) translate(0, 25px);
  -moz-transform: rotate(-10deg) scale(1.25) translate(0, 25px);
  -ms-transform: rotate(-10deg) scale(1.25) translate(0, 25px);
  transform: rotate(-10deg) scale(1.25) translate(0, 25px);
  transition: all 0.5s;
}

.nav-button:active
{
  background-color: #DB8E85;
  box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 0.65), 
              inset -10px -10px 10px rgba(0, 0, 0, 0.65);
  -webkit-transform: rotate(-10deg) scale(1.25) translate(10px, 35px);
  -moz-transform: rotate(-10deg) scale(1.25) translate(10px, 35px);
  -ms-transform: rotate(-10deg) scale(1.25) translate(10px, 35px);
  transform: rotate(-10deg) scale(1.25) translate(10px, 35px);
  transition: all 0.05s;
}

.nav-button:hover span 
{
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s;
}